:root {
  --clr-primary-softBlue: #8bacda;
  --clr-primary-cyan: #00fff7;
  
  // Main Background:
  --clr-dark-blue-1: #0d192b;
  
  //Card Background
  --clr-dark-blue-2: #14253d;

  // line
  --clr-dark-blue-3: #2f415b;

  --clr-white: rgb(255, 255, 255);
}